/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYM 1
#define NUM 2
#define NAV 3
#define MOUSE 4
#define MEDIA 5
#define FUN 6

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */
 
 / {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <30 43>;
            bindings = <&tog BASE>;
        };
        combo_nav {
            timeout-ms = <50>;
            key-positions = <31 44>;
            layers = <BASE>;
            bindings = <&mo NAV>;
        };
        combo_num {
            timeout-ms = <50>;
            key-positions = <32 45>;
            layers = <BASE>;
            bindings = <&mo NUM>;
        };
        combo_sym {
            timeout-ms = <50>;
            key-positions = <33 46>;
            layers = <BASE>;
            bindings = <&mo SYM>;
        };
    };
};

/ {
    behaviors {
        td_lshift: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LSHIFT>, <&caps_word>;
        };

        td_alt: tap_dance_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPS_WORD";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LALT>, <&kp CAPS>;
        };
    };
 };
 
/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  F   |  P   |  G   |                                          |  J   |  L    |  U    |  Y   |   ;   |   MOUSE  |
            // |  CAPSW/ALT  |  A  |  R  |  S   |  T   |  D   |                                    |  H   |  N    |  E    |  I   |   O   |   '  |
            // | GUI |  Z  |  X  |  C   |  V   |  B              | NONE | NONE |  | NONE | NONE |  K   |  M    |  ,    |  .   |   /   | MEDIA |
            //                     | DEL  | RET  | BSPC  |  SPACE  |   LCTRL   |  |   RCTRL   |  RSHIFT  | SPACE  | TAB  | FUN |
            bindings = <
            &kp ESC  &kp Q &kp W &kp F &kp P &kp G                                                          &kp J &kp L  &kp U     &kp Y   &kp SEMI    &tog MOUSE
            &td_alt &kp A &kp R &kp S &kp T &kp D                                                     &kp H &kp N  &kp E     &kp I   &kp O &kp SQT
            &kp LGUI &kp Z &kp X &kp C &kp V &kp B             &none &none          &none &none             &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &tog MEDIA
                                &kp DEL &kp TAB &kp BSPC &td_lshift &kp LCTRL         &kp RCTRL  &kp RSHIFT &mt RALT SPACE &kp RET &mo FUN
            >;
        };

        sym_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  !  |  &  |  {  |  }   |  +   |  *   |                                           |  NONE   |  \    |  `    |  NONE   |   NONE   |   NONE  |
            // |  ~  |  *  |  (  |  )   |  =   |  -   |                                           |  NONE   |  :    |  ;    |  _   |   NONE   |   NONE  |
            // |  $   |  |  |  [  |  ]   |  /   |  @   | NONE | NONE |              | NONE | SYM |  NONE   |  <    |  >    |  NONE   |   NONE   | NONE |
            //                     | DEL  | RET  | BSPC  |  LSHIFT  |   CTRL   |    | NONE | SYM | NONE  | NONE  | NONE |
            bindings = <
            &kp EXCL   &kp AMPS &kp LBRC &kp RBRC &kp KP_PLUS &kp KP_ASTERISK                                                         &none &kp BSLH  &kp GRAVE   &none   &none    &none
            &kp TILDE  &kp HASH &kp LPAR &kp RPAR &kp KP_EQUAL &kp KP_MINUS                                                     &none &kp COLON  &kp SEMI  &kp UNDER   &none  &none
            &kp DLLR   &kp PIPE &kp LBRC &kp RBRC &kp KP_SLASH &kp AT     &none &none               &none &none  &none &kp LT  &kp GT &none &none &none
                                &kp DEL &kp RET &kp BSPC &td_lshift &kp LCTRL         &none  &none &none &none &none
            >;
        };

        num_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  .  |  [  |  7  |  8   |  9   |  ]   |                                           |  NONE   |  NONE    |  NONE    |  NONE   |   NONE   |   NONE  |
            // |  ;  |  0  |  4  |  5   |  6   |  =   |                                           |  NONE   |  RSHIFT    |  RCTRL    |  ALT   |   RGUI   |   NONE  |
            // |  #   |  -  |  1  |  2   |  3   |  \   | NONE | NONE |              | NONE | SYM |  NONE   |  NONE    |  NONE    |  NONE   |   NONE   | NONE |
            //                     | DEL  | RET  | BSPC  |  LSHIFT  |   CTRL   |    | NONE | SYM | NONE  | NONE  | NONE |
            bindings = <
            &kp EXCL   &kp AMPS &kp LBRC &kp RBRC &kp KP_PLUS &kp KP_ASTERISK                                                         &none &kp BSLH  &none     &none   &none    &none
            &kp TILDE  &kp HASH &kp LPAR &kp RPAR &kp KP_EQUAL &kp KP_MINUS                                                     &none &kp COLON  &kp SEMI  &kp UNDER   &kp GRAVE &none
            &kp DLLR   &kp PIPE &kp LBRC &kp RBRC &kp KP_SLASH &kp AT     &none &none               &none &none  &none &none  &none &none &none &none
                                &kp DEL &kp RET &kp BSPC &td_lshift &kp LCTRL         &none  &none &none &none &none
            >;
        };
    };
};
